body {
    font-family: Arial, sans-serif;
    background-color: #379392;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3) ;
  }
  
  h1 {
    text-align: center;
  }
  
  #quiz {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }

  #userNameInput {
    display: block;
    width: auto;
    margin: 0 auto 10px auto; /* Center the input box vertically and horizontally */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #startButton {
    display: block;
    margin: 10px auto; /* Center the button horizontally */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  #question {
    font-size: 18px;
  }
  
  .option {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
  
  #score {
    font-weight: bold;
  }

  #highestScore,
  #topScores {
    text-align: center;
}

#topScores {
    list-style-type: none;
    padding: 0;
  }
  
  #topScores li {
    margin-bottom: 5px; /* Optional: Adjust spacing between list items */
  }
  
  #nextButton,
  #resetButton {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  #startButton {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .correct-answer {
    padding: 10px;
    border: 2px solid #28a745; /* Green color */
    border-radius: 5px;
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
    margin-bottom: 10px;
  }
  
  .wrong-answer {
    padding: 10px;
    border: 2px solid #dc3545; /* Red color */
    border-radius: 5px;
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
    margin-bottom: 10px;
  }
  
  